"{ Main Configurations
let g:config_files = [
      \ 'autocmd.vim',
      \ 'maps.vim',
      \ 'options.vim',
      \ 'plugins.vim',
      \ 'fu.vim',
{{ if eq .chezmoi.os "linux" }}
      \ 'rnvimr.vim',
{{ else }}
      \ 'fern.vim',
{{ end }}
      \ 'coc-fu.vim',
      \ ]

      " 'ui.vim'
let g:nvim_config_root = expand('<sfile>:p:h')
for s:fname in g:config_file_list
  execute printf('source %s/core/%s', g:nvim_config_root, s:fname)
endfor
"}
