local wezterm = require 'wezterm';
{{ if eq .chezmoi.os "linux" }}
local config_dir = os.getenv("HOME") .. "/.config/wezterm/";
{{ else }}
local config_dir = os.getenv("HOMEDRIVE") .. os.getenv("HOMEPATH") .. [[\.config\wezterm\]];
{{ end }}
local launch_menu = dofile(config_dir .. "spawn.lua");
wezterm.on("format-window-title", function(tab, pane, tabs, panes, config)
  local zoomed = ""
  if tab.active_pane.is_zoomed then
    zoomed = "[Z] "
  end

  local index = ""
  if #tabs > 1 then
    index = string.format("[%d/%d] ", tab.tab_index + 1, #tabs)
  end

  return zoomed .. index .. tab.active_pane.title
end)

return {
  check_for_updates = false,
  use_dead_keys = false,
  launch_menu = launch_menu,
  default_prog = {
  {{ if eq .chezmoi.os "linux" }}
    '/usr/bin/fish'
  {{ else }}
    'C:/Users/{{ .chezmoi.username }}/scoop/shims/nu.exe'
  {{ end }}
  },
  font = wezterm.font("JetBrains Mono"),
  font_size = 9,
  color_scheme = "Calamity",
}
